<%= form_for Link.new, url: '/link' do |f| %>
  <div class="row">
    <div class="col-3">
      <%= f.text_field :url, class: "form-control" %>
    </div>
    <div class="col-3">
      <%= f.submit "Generate Short Link", class: "btn btn-outline-success" %>
    </div>
  </div>

<% end %>